permissions:
  contents: read
  checks: write
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
    inputs:
      runner:
        description: "Runner to use"
        required: false

name: check
jobs:
  checker:
    name: Rust Checks
    uses: carteramesh/ci/.github/workflows/rust-check.yml@main
    secrets: inherit
    with:
      runner: ${{ inputs.runner || vars.RUNNER }}
      ubuntu_packages: "libgpgme-dev"
      features: '["default", "gpg"]'
