permissions:
  contents: write
  checks: write
on:
  workflow_dispatch:
    inputs:
      runner:
        description: "Runner to use"
        required: false
      version:
        description: "Version to release (patch, minor, major, 0.1.xx)"
        required: true
        type: string
name: release
jobs:
  releaser:
    name: release
    uses: carteramesh/ci/.github/workflows/rust-release.yml@main
    secrets: inherit
    with:
      runner: ${{ vars.RUNNER }}
      version: ${{ inputs.version }}
      ubuntu_packages: "libgpgme-dev"
