permissions:
  contents: read
  checks: write
on:
  pull_request:
  workflow_dispatch:
    inputs:
      runner:
        description: "Runner to use"
        required: false

name: safety
jobs:
  checker:
    name: Rust Safety
    uses: carteramesh/ci/.github/workflows/rust-safety.yml@main
    secrets: inherit
    with:
      runner: ${{ inputs.runner || vars.RUNNER }}
      enabled: true
      fireblocks: true
      ubuntu_packages: "libgpgme-dev"
      rustlog: "fireblocks_solana_signer=debug,info"
