name: test
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
    inputs:
      runner:
        description: "Runner to use"
        required: false
jobs:
  test:
    name: Rust Tests
    uses: carteramesh/ci/.github/workflows/rust-test.yml@main
    secrets: inherit
    with:
      runner: ${{ inputs.runner || vars.RUNNER }}
      ubuntu_packages: "libgpgme-dev"
      features: '["default", "gpg"]'
      fireblocks: true
      rustlog: "fireblocks_solana_signer=debug,info"
